LN/Lab/Lab1.lnk
LN/Lab/Lab0/.DS_Store
LN/Lab/Lab0/BasicNN.ipynb
LN/Lab/Lab0/introPython.ipynb
LN/Lab/Lab0/P0-students.pdf
LN/Lab/Lab0/PerceptronAndFFNN.pdf
LN/Lab/Lab0/PerceptronAndFFNN.pptx
LN/Lab/Lab2/.DS_Store
LN/Lab/Lab2/Guidelines.pdf
LN/Lab/Lab2/Jokes.xlsx
LN/Lab/Lab2/P2.pdf
LN/Lab/Lab3/.DS_Store
LN/Lab/Lab3/P3.ipynb
LN/Lab/Lab3/P3_students.pdf
